* {
    font-family: Montserrat;
  }
  
  @media only screen and (min-width: 1200px) {
    footer {
      background-color: #1e2430;
      color: white;
      text-align: center;
      display: flex;
      flex-direction: column;
      padding-bottom: 5vh;
      .footer-wrap {
        width: 100vw;
        h2 {
          font-size: 30px;
          padding: 10px 10px 0px 10px;
        }
        h4 {
          padding-bottom: 5vh;
          text-transform: uppercase;
        }
        div {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          justify-content: space-around;
          .footer-col {
            width: 28%;
            flex-direction: column;
            text-align: left;
            justify-content: space-around;
            .icon {
              font-size: 50px;
              a {
                color: whitesmoke;
              }
            }
            h3 {
              font-size: 22px;
              width: 100%;
              text-transform: uppercase;
              padding-bottom: 10px;
            }
            p {
              width: 80%;
              font-size: 14px;
              line-height: 26px;
              padding: 1%;
              span {
                  width: 100%;
              }
            }
          }
        }
      }
    }
  }

  @media only screen and (max-width: 1200px) and (min-width: 600px) { 
    footer {
      background-color: #1e2430;
      color: white;
      text-align: center;
      display: flex;
      flex-direction: column;
      padding-bottom: 5vh;
      .footer-wrap {
        width: 100vw;
        h2 {
          font-size: 30px;
          padding: 10px 10px 0px 10px;
        }
        h4 {
          padding-bottom: 5vh;
          text-transform: uppercase;
        }
        div {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          justify-content: space-between;
          .footer-col {
            width: 28%;
            flex-direction: column;
            text-align: left;
            justify-content: space-around;
            .icon {
              font-size: 50px;
              a {
                color: whitesmoke;
              }
            }
            h3 {
              font-size: 22px;
              width: 100%;
              text-transform: uppercase;
              padding-bottom: 10px;
            }
            p {
              width: 80%;
              font-size: 14px;
              line-height: 26px;
              padding: 1%;
              span {
                  width: 100%;
              }
            }
          }
        }
      }
    }
  }
  
  @media only screen and (max-width: 600px) and (min-width: 0px) {
    footer {
      background-color: #1e2430;
      color: white;
      text-align: center;
      display: flex;
      flex-direction: column;
  
      .footer-wrap {
        width: 100vw;
  
        h2 {
          font-size: 30px;
          padding: 0px 0px 0px 0px;
        }
  
        h3 {
          padding: 0px 0px 0px 0px;
        }
  
        div {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-around;
          padding: 10px 0 10px 0;
          div {
            width: 75%;
            flex-direction: column;
            text-align: left;
            justify-content: space-around;
            align-self: center;
  
            h3 {
              font-size: 22px;
              width: 100%;
            }
  
            p {
              width: 80%;
              line-height: 30px;
            }
          }
        }
      }
    }
  }