@media only screen and (max-width: 1200px) and (min-width: 600px) {
  .actual {
    width: 70vw;
    margin-bottom: 5vh;
    line-height: 36px;
    h2 {
      font-size: 32px;
      margin-bottom: 30px;
      text-transform: uppercase;
      padding: 20px 0 20px 0;
    }
  }
}
